<div class="jumbotron">
	<div class="row">
		<div class="col-md-9">
			<h2>List of employees:</h2>
			<div class="row">
				<div class="col-md-3">
					<label>Search</label>
					<input type="text" ng-model="search" class="form-control"/>
				</div>
			</div>
			<br/>
			<ul>
				<li ng-repeat="employee in employees | filter:search">
					<a href="#/employee/{{$index}}">{{employee.title}} {{employee.firstName}} {{employee.surname}} </a>
					<a href="" ng-click="usunPracownika($index)" class="glyphicon glyphicon-remove"></a>
				</li>
			</ul>
			<span ng-show="employees.length ==0">List of employees is empty...</span>
		</div>
		<div class="col-md-3">
			<h3>Dodaj wykładowcę</h3>
			<form ng-submit="dodajPracownika(nowyPracownik.firstName,nowyPracownik.surname,nowyPracownik.title,nowyPracownik.email,nowyPracownik.speciality,nowyPracownik.minimumStaffing,nowyPracownik.employmentType,nowyPracownik.availability)">
				<label>Imię: </label> <input type="text" class="form-control" ng-model="nowyPracownik.firstName" required>
				<label>Nazwisko: </label> <input type="text" class="form-control" ng-model="nowyPracownik.surname" required>
				<label>Tytuł: </label> <input type="text" class="form-control" ng-model="nowyPracownik.title" required>
				<label>Mail: </label> <input type="text" class="form-control" ng-model="nowyPracownik.email" required>
				<label>Przedmiot: </label> <input type="text" class="form-control" ng-model="nowyPracownik.speciality" required>
				<label>Minimum etatowe: </label> <input type="text" class="form-control" ng-model="nowyPracownik.minimumStaffing" required>
				<label>Rodzaj zatrudnienia: </label> <input type="text" class="form-control" ng-model="nowyPracownik.employmentType" required>
				<label>Dostępność: </label> <input type="text" class="form-control" ng-model="nowyPracownik.availability" required>
				<br>
				<input type="submit" value="Add" class="btn btn-danger" />
			</form>
		</div>
		</br>
	</div>
</div>